services:
    # ---------------- PostgreSQL ----------------
    pgsql:
        image: postgres:17.6
        container_name: PostgreSQL
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: /var/lib/postgresql/data
        volumes:
            - pgsql_data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}']
            interval: 10s
            timeout: 5s
            retries: 5
        ports:
            - '127.0.0.1:5432:5432'
        networks:
            - db_net

    # ---------------- MongoDB ----------------
    mongo:
        image: mongo:8.0.12
        container_name: MongoDB
        restart: unless-stopped
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
            MONGO_INITDB_DATABASE: ${MONGO_DB}
        volumes:
            - mongo_data:/data/db
            - mongo_config:/data/configdb
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    "mongosh --eval 'db.adminCommand({ ping: 1 })' -u ${MONGO_ROOT_USER} -p ${MONGO_ROOT_PASS} --authenticationDatabase admin || exit 1",
                ]
            interval: 10s
            timeout: 5s
            retries: 5
        ports:
            - '127.0.0.1:27017:27017'
        networks:
            - db_net
    # ---------- PostgreSQL for Metabase ----------
    metabase_db:
        image: postgres:16.3
        container_name: MB_PostgreSQL
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${METABASE_DB_USER}
            POSTGRES_PASSWORD: ${METABASE_DB_PASS}
            POSTGRES_DB: ${METABASE_DB_NAME}
        volumes:
            - mb_db_data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -d ${METABASE_DB_NAME} -U ${METABASE_DB_USER}']
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - mb_net

    # ---------- Metabase ----------
    metabase:
        image: metabase/metabase:v0.57.6
        container_name: Metabase
        restart: unless-stopped
        environment:
            MB_DB_TYPE: postgres
            MB_DB_HOST: metabase_db
            MB_DB_PORT: 5432
            MB_DB_USER: ${METABASE_DB_USER}
            MB_DB_PASS: ${METABASE_DB_PASS}
            MB_DB_DBNAME: ${METABASE_DB_NAME}
        depends_on:
            - metabase_db
        volumes:
            - mb_app_data:/metabase.db
        healthcheck:
            test: curl --fail -I http://localhost:3000/api/health || exit 1
            interval: 15s
            timeout: 5s
            retries: 5
        networks:
            - mb_net
            - npm_net
            - db_net
        expose:
            - '3000'

volumes:
    pgsql_data:
        name: pgsql_data
    mongo_data:
        name: mongo_data
    mongo_config:
        name: mongo_config
    mb_db_data:
        name: mb_db_data
    mb_app_data:
        name: mb_app_data

networks:
    npm_net:
        name: npm_net
        external: true
    db_net:
        name: db_net
    mb_net:
        name: mb_net
